.team_a{
    background-color: #292930;
    padding: 70px 180px;
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}
.team_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text_team{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    margin-bottom: 20px;
}
.na_ffff{
    font-family: Noto Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.5%; /* 23.475px */
    letter-spacing: 2.025px;
    text-transform: uppercase; 
}
.text_trans{
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.5%; 
}
@media (max-width: 1005px) {
    .team_a{
        padding: 70px 100px;
    }
}

@media (max-width: 770px) {
    .team_a{
        padding: 70px 15px;
    }
    .text_trans{
        font-size: 35px;
    }
}