.block {
  background: linear-gradient(180deg, #36363e 0%, #292930 100%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 380px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #424245;
  margin: 20px;
}
.tx_car {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%;
  margin: 20px 0px;
}
.txnext_car {
  color: #d0d0d0;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 156.5%;
  align-items: center; /* Center vertically */
  display: flex;
  justify-content: center; /* Center horizontally */
}
.line_car {
  margin-top: 20px;
}
