.img{
    background-image: url('../../assets/aboutAs/Background(1).png');
    height: fit-content;
    display: flex;
    justify-content: center;
    background-size: cover;
}
.img p{
    font-family: Nunito;
    font-size: 70px;
    font-style: normal;
    font-weight: 900; 
}
.fg_mn{
    color: #5956E8;
}
.num{
    background-color: #292930;
    display: flex;
    padding: 70px 220px;
    justify-content: center;
    position: relative;
    width: 100%;
    top: -100px;
    flex-wrap: wrap;
}
.num_lk p:nth-child(1){
    color: #FFF;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 600; 
    display: flex;
}
.num_lk p:nth-child(2){
    color: #D0D0D0;
    font-family: Noto Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.5%; /* 23.475px */
    letter-spacing: 2.025px;
    text-transform: uppercase; 
    width: 120px;    
    margin-left: 5px;
}
.num_lk{
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.text_position{
    display: flex;
    justify-content: center;
    align-items: initial;
    width: 100%;
    position: absolute;
    top: 220px;
}

@media (max-width: 1384px) {
    .num{
        padding: 40px 220px;
    }
}

@media (max-width: 920px) {
    .num{
        padding: 20px 100px;
    }
    .num_lk p:nth-child(1){
        font-size: 25px;
    }
    .num_lk p:nth-child(2){
        font-size: 10px;
    }
    .img{
        padding: 0px 15px;
    }
}
@media (max-width: 718px) {

    .img{
        padding: 15px;
    }
   
}
@media (max-width: 660px) {
    .num{
        padding: 15px;
    }
    .text_position{
        top: 175px;
    }
    
}
@media (max-width: 495px) {
    .text_position{
        top: 150px;
    }
    .img p{
        font-size: 50px;
    }
}

