.header {
  @apply text-gray-600 relative container z-10;
}

.header__wrapper {
  @apply fixed mx-auto md:px-40 px-10 w-full flex flex-wrap p-5 md:flex-row items-center justify-between;
  z-index: 1;

}

.header__logo {
  @apply flex font-medium items-center text-gray-900;
}

.header__logo_title {
  @apply ml-5 lg:text-xl xl:text-3xl text-xl hidden md:block uppercase font-bold;
}

.header__nav {
  @apply md:mx-auto lg:flex hidden flex-wrap xl:gap-10 gap-5 items-center text-base justify-center;
}

.header__nav_item {
  @apply text-black hover:text-gray-900 xl:text-xl lg:text-lg;
}

.header__lang {
  @apply inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base;
}

.header__modal_button {
  @apply inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(
    90deg,
    rgba(230, 18, 108, 1) 18%,
    rgba(230, 14, 120, 1) 47%,
    rgba(0, 164, 255, 1) 47%
  );
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
