@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.services {
  @apply bg-[url('../../assets/services-bg.svg')] relative bg-cover bg-center w-auto;
  height: 450px;
}

.services__container {
  @apply mx-auto max-w-screen-xl;
}

.services__header {
  @apply mx-auto max-w-screen-xl text-center absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  top: 75%;
}

.services__title {
  @apply text-6xl font-extrabold tracking-tight leading-none;
  color: #292930;
  letter-spacing: 0;
  line-height: 110.5%;
}
