@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.services {
  @apply bg-[url('../../assets/services-bg.svg')] relative bg-cover bg-center w-auto;
  height: 450px;
}

.services__container {
  @apply mx-auto max-w-screen-xl;
}

.services__header {
  @apply mx-auto max-w-screen-xl text-center absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  top: 75%;
}

.services__title {
  @apply text-6xl font-extrabold tracking-tight leading-none;
  color: #292930;
  letter-spacing: 0;
  line-height: 110.5%;
}
.marketing__container {
  @apply flex justify-center items-center my-36;
}

.marketing__title {
  @apply text-3xl font-semibold;
  color: #292930;
  line-height: 110.5%;
}

.marketing__desc {
  @apply text-lg mb-8;
  color: #555;
  line-height: 156.5%;
}

.marketing__content {
  @apply mx-auto max-w-screen-xl flex flex-row items-center;
}

.marketing__top {
  @apply flex  my-8 gap-10;
}

.marketing__top img {
  height: 80px;
  width: 80px;
}

.marketing__img {
  height: 450px;
  width: auto;
  margin-right: 30px;
}

.marketing__item {
  @apply flex text-sm mb-7;
  color: #555;
  line-height: 160%;
  text-transform: capitalize;
}

.marketing__item span {
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .marketing__right {
    max-width: 700px;
  }
  .marketing__img {
    height: 300px;
  }

  .marketing__content {
    flex-direction: column;
  }
  .marketing__img {
    margin-bottom: 20px;
  }
}

.marketing__right {
  width: 100%;
  padding: 30px;
  max-width: 300px;
  max-width: 400px;
  max-width: 500px;
}

.hr {
  margin-bottom: 30px;
  height: 1px;
  background: #cfcfcf;
}

@media screen and (max-width: 930px) {
  .marketing__top {
    @apply flex-wrap;
  }
  .marketing__title {
    font-size: 25px;
  }

  .marketing__top {
    justify-content: center;
    text-align: center;
  }
  .marketing__middle {
    text-align: center;
  }
}
